/* testing */

@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR|Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 20px; 
  background: rgb(87, 97, 130); 
}

.grid-container {
  justify-content: center;
  align-content: center;
  margin: auto;
  width: 100vw;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 1em; 
}

header,
footer {
  width: 100vw
  
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 20em; 
  margin-bottom: 1em;
  position: relative;
  padding: 1em;
  font-family: "Raleway", sans-serif;
  color: rgba(240, 229, 229, 0.959);
  background: url("src/photos/Dark Skies.png") no-repeat,
    url("src/photos/IMG_5532-rotated.jpg") no-repeat;
  background-position: left 80%, right top 40%;
  background-size: 100%, 40%, auto;
  background-blend-mode: lighten;
}

#profile-pic {
  height: 17em;
  width: auto;
  padding: 2em;
  position: relative;
  transform: rotate(270deg);
}

/* header #profile-pic img {
  max-height: 100%; 
  mix-blend-mode: lighten; 
} */

#header-text {
  /* overflow-wrap: break-word;
  word-wrap: break-word; */
   position: relative; 
   visibility: visible; 
   padding-right: 4em; 
   right: 5em;  
   top: 2em; 
   height: 25em; 
   width: 25em; 
}

#linkedin {
  height: 2.75em;
  width: auto;
}


#icons {
  display: flex;  
  height: 4em; 
  width: auto; 
  margin-left: 16em;  
  margin-top: 3em; 
}

#linkedin {
  display: absolute; 
  height: 2.75em;
  width: auto;
  

}

#linkedin:hover {
  height: 3em; 
  width: auto; 
}

#github {
  display: absolute; 
  height: 3em;
  width: auto;
  margin-right: 1em;  
}


#github:hover {
  background: white; 
  border-radius: 50%;  
}

#resume {
  display: absolute; 
  height: 4em; 
  width: auto;
  size: 10px; 
}

#resume:link {
  text-decoration: none;
  color: wheat;
}

#resume:visited {
  text-decoration: none;
  color: rgba(220, 220, 220, 0.831); 
}

#email:link {
  text-decoration: none;
  color: wheat;
}

#email:visited {
  text-decoration: none;
  color: rgba(220, 220, 220, 0.831); 
}

section,
aside {
  font-family: "Raleway", sans-serif;
  border: rgb(208, 209, 216) 1px; 
  border-radius: 10px; 
  border-style: ridge;  
  background: rgb(87, 97, 130); 
  color: whitesmoke;
}

section {
  /* max-width: 100%; */
  height: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  padding-top: 0.88em; 
  
}

aside {
  /* max-width: 100%; */
  height: auto;
  position: relative;
  align-items: left;
  justify-content: center;
  justify-self: center; 
  padding-top: 3em; 
  padding-right: 2em; 

}

/* #coolthings {
    color: lightgoldenrodyellow;
} */

.tech-description {
  padding-top: 0.50em;
  padding-left: 1em; 
  text-align: center; 
  justify-self: center; 
}

.app-description {
  padding-top: 3em;
  padding-left: 1em;
}



footer {
  font-family: sans-serif;
  background: url(" src/photos/Dark Skies.png") no-repeat;
  color: rgba(245, 245, 245, 0.945);
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 0;
}

section img {
  max-width: 100%;
  height: auto;
}

#protip {
  padding-top: 1em;
  padding-left: 1em;
  font-size: 1em;
  font-weight: bold;
}

#photo-credit {
  font-size: 10px;
  color: black; 
}

.tech {
  font-size: 25px; 
}


/* Smart phones portrait */
@media only screen and (min-width: 320px) and (max-width: 479px)
{  
  body {
    font-size: 0.4em;
  }
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .coder-cards {
    grid-column: span 1;
  }

  .coder-cards-aside {
    grid-column: span 1;
  }

  .faunagram {
    grid-column: span 1;
  }

  .faunagram-aside {
    grid-column: span 1;
  }

  .upsidedown {
    grid-column: span 1;
  }

  .upsidedown-aside {
    grid-column: span 1;
  }
 }

 /* smartphone landscape  */
@media only screen and (min-width: 480px) and (max-width: 767px)
{ 
   body {
    font-size: 0.95em;
  }
   #header-text {
    padding-right: 4em; 
  }
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .coder-cards {
    grid-column: span 1;
  }

  .coder-cards-aside {
    grid-column: span 1;
  }

  .faunagram {
    grid-column: span 1;
  }

  .faunagram-aside {
    grid-column: span 1;
  }

  .upsidedown {
    grid-column: span 1;
  }

  .upsidedown-aside {
    grid-column: span 1;
  }

}

/* Tablest portrait mode  */
@media only screen and (min-width: 768px) and (max-width: 991px)
{ 
   body {
    font-size: 1.4em;
  }
   #header-text {
    padding-right: 5em; 
  }
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .coder-cards {
    grid-column: span 1;
  }

  .coder-cards-aside {
    grid-column: span 1;
  }

  .faunagram {
    grid-column: span 1;
  }

  .faunagram-aside {
    grid-column: span 1;
  }

  .upsidedown {
    grid-column: span 1;
  }

  .upsidedown-aside {
    grid-column: span 1;
  }
}

/* Tablet landscape and desktop  */
@media only screen and (min-width: 992px) and (max-width: 1024px)
{
   body {
    font-size: 1.4em;
  }
   #header-text {
    padding-right: 5em; 
  }
  .coder-cards {
    grid-column: 1 / span 1;
  }

  .coder-cards-aside {
    grid-column: 2 / span 1;
  }

  .faunagram {
    grid-column: 1 / span 1;
  }

  .faunagram-aside {
    grid-column: 2 / span 1;
  }

  .upsidedown {
    grid-column: 1 / span 1;
  }

  .upsidedown-aside {
    grid-column: 2 / span 1;
  }
}
 
/* Large screens */
@media only screen and (min-width: 1025px) and (max-width: 1992px)
{
   body {
    font-size: 1.75em;
  }

  #header-text {
    padding-right: 6em; 
  }
  .coder-cards {
    grid-column: 1 / span 1;
  }

  .coder-cards-aside {
    grid-column: 2 / span 1;
  }

  .faunagram {
    grid-column: 1 / span 1;
  }

  .faunagram-aside {
    grid-column: 2 / span 1;
  }

  .upsidedown {
    grid-column: 1 / span 1;
  }

  .upsidedown-aside {
    grid-column: 2 / span 1;
  }
}


