/* testing */

@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR|Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: rgb(255, 255, 255);
  margin: 2em;
  padding: 2em;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  background-color: rgb(188, 207, 238);
  background-image: linear-gradient(rgb(139, 142, 158), rgb(255, 255, 255));
  border: palegoldenrod solid 1px;
}

.title {
  width: 30rem;
  font-size: 30px;
  margin-left: 2px; 
  padding-top: 5rem;
}

.links {
  display: flex;
  align-self: flex-end;
  padding-left: 60px;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
}

.profile-pic {
  padding: 1rem;
}

.profile-pic {
  opacity: 0.8;
  box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset; 
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 50px;
  background-color:rgba(249, 250, 253, 0.959)
}

.site {
  margin: 50px;
  padding-top: 40px;
  font-size: 30px;  
  text-align: center;
}

.aside {
  display: block;
  width: 20em;
  margin: 50px;
  padding-top: 150px;
  font-size: 30px;  
  padding-left: 5px;
}

.aside h5 {
  padding-bottom: 30px;
  font-weight: 'bold';
}

.pro-tip {
  text-align: cetner; 
  font-size: 20px;
  padding-top: 10px;
}

footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
  padding: 10px;
  background-color: rgb(188, 207, 238);
  background-image: linear-gradient(rgb(139, 142, 158), rgb(255, 255, 255));
  border: palegoldenrod solid 1px;
}

.profile-photo-credit {
  font-size: 10px;
}

.load-tip {
  font-size: 15px;
  padding-top: 10px;
}

hr {
    border-top: 3px double #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    width: 100%;
}

/* hr:after {
    background: #fff;
    content: '§';
    padding: 0 4px;
    position: relative;
    top: -13px;
} */






